<div class="container" >
  <h1>Authors</h1>

  <% if @authors.empty? %>
  <% else %>
    <% @authors.each do |author| %>
    <h2> <%= author.name %> </h2>
    <p><%= author.name %> has written <%= author.books.count %> books.</p>
    <p>Learn more about <%= link_to author.name, author %> </p>
    <% end %>
  <% end %>
</div>

