<div class = "container">
  <h2>Books by <%= @author.name %></h2>

  <% if @author.books.empty? %>
    <p>There are no books written by <%= @author.name %></p>
  <% else %>
    <ul>
      <% @author.books.each do |book| %>
      <li> <%= link_to book.title, book %> </li>
      <% end %>
    </ul>
  <% end %>
</div>