<h1>About</h1>
<p>This website displays lists of books, authors, publishers, and countries.</p>
<p>The git repository is a record of the time and effort that went into the creation of this web application built with Ruby on Rails. </p>
<%= link_to "https://github.com/marissa-steindel/DataDrivenRailsProject.git", "https://github.com/marissa-steindel/DataDrivenRailsProject.git" %>
<h3>Database Entity Relationship Diagram</h3>
<%= image_tag "erd.JPG" %>