<%# <%= render "layouts/pagination"  %>

<footer class="footer has-background-link has-text-white">
  <div class="content has-text-centered">
    <p>Web Development by Marissa Steindel</p>
  </div>
</footer>

